{% extends 'base.html.twig' %}

{% block content %}
    <h1>Create new blog post</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="button button-success" formnovalidate>save</button>
    {{ form_end(form) }}
{% endblock %}